.mainsmall .side-nav li {
    /*margin-bottom: 20px*/
}

.mainsmall .control-box h3 {
    line-height: 40px
}

.mainsmall .control-box p.btns {
    margin-top: 15px
}

.mainsmall .main-block {
    margin: 0 20px
}

.mainsmall .main-block .block-table {
    padding-bottom: 30px
}

.mainsmall .khgl-block .block-table, .zygl-block .block-table {
    padding-bottom: 0
}

.mainsmall .main-block .block-table table td {
    line-height: normal;
    min-width: 80px
}

.mainsmall .main-block .block-table table td .sl-icyuanbtn {
    margin: 5px 0
}

.mainsmall .khgl-block .block-list {
    margin-top: 30px;
    margin-bottom: 20px
}

.mainsmall .main-block .block-list .list {
    padding: 28px 15px
}

.mainsmall .main-block .block-list .list-1 .bottom, .main-block .block-list .list-1 .top {
    font-size: 12px
}

.mainsmall .main-block .block-list .list-1 .bottom p span {
    margin-left: 20px;
    margin-right: 25px
}

.mainsmall .main-block .block-list .list-2 .list-table table td, .main-block .block-list .list-2 .list-table table th {
    line-height: normal;
    padding: 0 5px;
    min-width: 80px
}

.mainsmall .main-block .block-list .list-2 .list-table table td span {
    margin: 0 5px
}

.mainsmall .main-block .block-list .list-2 .list-leftbox {
    left: 15px
}

.mainsmall .main-block .block-list .list-3 .content-list, .main-block .block-list .list-4 .ul-list {
    width: 750px
}

.mainsmall .main-block .block-list .list .box-btns {
    width: 180px
}

.mainsmall .main-block .block-list .list-4 .ul-list span .input-text {
    width: 148px
}

.mainsmall .main-block .block-list .list-4 .ul-list span .big-input-text {
    width: 402px
}

.mainsmall .main-block .block-list .list-5 {
    padding-right: 200px
}

.mainsmall .main-block .block-table-box {
    padding-right: 220px;
    margin-bottom: 20px
}

.mainsmall .main-block .block-table-box .box-btns {
    width: 220px
}

.mainsmall .main-block .block-table-box .box-table table tr td {
    min-width: 70px
}

.mainsmall .main-block .block-tablebox table .middle td, .mainsmall .main-block .block-tablebox table .top td {
    line-height: normal
}

.mainsmall .main-block .block-tablebox table .top td span {
    padding-left: 0;
    display: block;
    padding-top: 3px
}

.mainsmall .main-block .block-tablebox table .middle td .sl-btn {
    width: 70px
}

.mainsmall .main-block .block-tablebox table .bottom td .sl-btn {
    margin: 5px 0
}

.mainsmall .main-block .block-leftright .leftright-box {
    width: 480px
}

.mainsmall .main-block .block-leftright .leftright-box .content .content-list .list-head .head-left {
    width: 200px
}

.mainsmall .main-block .block-leftright .leftright-box .content .content-list .list-head .w-big {
    width: 270px
}

.mainsmall .main-block .block-leftright .leftright-box .content .content-list .list-head .w-sm {
    width: 170px
}

.mainsmall .main-block .block-leftright .leftright-box .content .content-list .list-head .head-left em {
    padding-right: 10px
}

.mainsmall .main-block .block-leftright .leftright-box .content .content-list .list-text .text-left, .mainsmall .main-block .block-leftright .leftright-box .content .content-list .list-text .text-right {
    width: 170px
}

.mainsmall .main-block .block-leftright .leftright-box .content .content-list .list-text .text-right {
    padding-right: 110px
}

.mainsmall .main-block .block-leftright .leftright-box .content .content-list .list-text .text-right .text-btns {
    width: 106px
}

.mainsmall .main-block .block-table-box .box-content span select.input-text {
    width: 166px
}

.mainsmall .main-block .block-table-box .box-content span .input-text {
    width: 158px
}

.mainsmall .main-block .block-table-box .line-bdleft {
    right: 220px
}

.mainsmall .main-block .block-table-box .box-boom {
    width: 722px
}

.mainsmall .main-block .block-table-box .box-boom .top-list .toplist-box {
    width: 352px
}

.mainsmall .main-block .block-table-box .box-boom .top-list .toplist-box .content .con-title .title-left {
    width: 160px
}

.mainsmall .main-block .block-table-box .box-boom .top-list .toplist-box .content .con-title .title-left.w190 {
    width: 190px
}

.mainsmall .main-block .block-table-box .box-boom .top-list .toplist-box .content .con-title .title-left.w120 {
    width: 120px
}

.mainsmall .main-block .block-table-box .box-boom .down-list {
    padding: 10px 0;
    margin-top: 10px
}

.mainsmall .main-block .block-table-box .box-boom .down-list p span .input-text {
    width: 68px
}

/*.mainsmall .main-block .block-ch .leftright-box {
    width: 43%
}*/

.mainsmall .main-block .block-ch .leftright-box .content .contents-box {
    width: 408px
}

.mainsmall .main-block .block-leftright .leftright-box .down {
    width: 480px
}

.mainsmall .main-block .block-ch .leftright-box .content .contents-box .text-left, .mainsmall .main-block .block-ch .leftright-box .content .contents-box .text-right {
    width: 130px
}

.mainsmall .main-block .block-ch .leftright-box .content .contents-box .text-right {
    width: 246px
}

.mainsmall .main-block .block-ch .leftright-box .content .contents-box .text-right .text-btns, .mainsmall .main-block .block-ch .leftright-box .content .contents-box .text-right .text-btns span {
    width: 96px
}

.mainsmall .main-block .block-leftright .leftright-box .content .content-list .list-head .head-left em {
    width: 50px;
    padding-right: 2px
}

.mainsmall .main-block .block-leftright .leftright-box .down {
    width: 200px
}

#showHouseArea, #showAreaAudio {
    width: 200px;
    text-align: left
}

.mainsmall .main-block .block-table-box .box-content span .w-bs {
    width: 105px
}

.mainsmall .main-block .block-table-box .box-content span .companyName {
    width: 70px
}

.main-block #s2id_autogen6 {
    width: 94px;
}

.main-block .layer-pop .pop-content ul li .companyName {
    width: 101px
}

.main-block #s2id_audioCateId {
    margin-left: 0 !important;
    width: 227px;
    padding-left: 0
}

.main-block .w-big {
    width: 270px
}

.mainsmall .col-lg-2{
    width: 246px;
}
.mainsmall #wl-cont .nav-tabs > li{
    font-size: 12px;
}