<div class="navbar navbar-default" id="navbar">
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="index.jsp" class="navbar-brand">
                <small>
                    <i class="icon-leaf"></i>
						你的系统介绍
                </small>
            </a><!-- /.brand -->
        </div>
        <div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">

						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<span class="user-info">
									<small>您好：</small>
																												匿名用户
																	</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
																<li>
									<a href="${ServiceName}/login">
										<i class="icon-key"></i>
										登录
									</a>
								</li>
																								
							</ul>
						</li>
					</ul><!-- /.ace-nav -->
				</div>
    </div>
</div>
